@tailwind base;
@tailwind components;
@tailwind utilities;

.quill {
  border: 2px solid @apply border-default-200;
  border-radius: 8px;
  font-size: 1rem;
  line-height: 1.5;
  @apply shadow-sm;
}

.quill .ql-toolbar {
  border-radius: 8px 8px 0 0;
}

.quill .ql-container {
  border-radius: 0 0 8px 8px;
}

.quill .ql-editor {
  min-height: 200px;
}

.quill .ql-toolbar.ql-snow {
  border: 2px solid @apply border-default-200;
  border-bottom: none;
  @apply shadow-sm;
}

.quill .ql-container.ql-snow {
  border: 2px solid @apply border-default-200;
  @apply shadow-sm;
  border-top: none;
}

.swiper-pagination-bullet:hover {
  @apply bg-slate-100 transition;
}
